body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
 font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F3F4F5;
}
.head_1{
    width: 100%;
    height: 120vh;
    background-color: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
header{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li{
    height: 100%;
    list-style-type: none;
font-size: 15px;
font-weight: 500;
line-height: 21.68px;
text-align: left;

}
p{
    height: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
}
.buttom_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 50%;
}
.buttom_2{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 0px solid;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttom_3{
    height: 40px;
    width: 65%;
    border: 0px solid;
    border-radius: 20px;
    background-color: #1B1B1D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttom_3 p{
    color: #fff;
}
.head_11{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
}
.head_111{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.head_112{
    width: 50%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.head_113{
    width: 50%;
    height: 100%;
    /* border: 5px solid #000; */
    /* background-image: url(IMG/Group\ 7.png);
    background-repeat: no-repeat;
    background-size:100%; */
    /* display: flex;
    justify-content: center; */
}
/* .head_113 img{
    width: 10px;
    height: 100px;
} */
.head_1111{
    width: 100%;
    height: 50%;
font-size: 124px;
font-weight: 800;
line-height: 120px;
text-align: left;

}
.head_1112{
    width: 80%;
    height: 15%;
font-size: 24px;
font-weight: 400;
line-height: 34.68px;
text-align: left;

}
.head_1113{
    width: 60%;
    height: 10%;
    display: flex;
}
.button_11131{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #1B1B1D;
    color: #fff;
font-size: 18px;
font-weight: 500;
line-height: 30px;
text-align: left;

}
.button_11132{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
font-size: 18px;
font-weight: 500;
line-height: 26.01px;
text-align: left;
border: 0px;
}
.section_1{
    width: 85%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.section_11{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
font-size: 64px;
font-weight: 800;
line-height: 70px;
text-align: center;

}
.section_12{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: start;
font-size: 24px;
font-weight: 400;
line-height: 34.68px;
text-align: center;
color: #64646A;
}
.section_13{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.section_111{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
}
.section_1111{
    width: 90%;
    height: 10%;
font-size: 36px;
font-weight: 600;
line-height: 52.02px;
text-align: left;
display: flex;
justify-content: start;
}
.section_1112{
    width: 90%;
    height: 15%;
font-size: 22px;
font-weight: 400;
line-height: 34.68px;
text-align: left;
display: flex;
justify-content: start;
}
.section_1113{
    height: 40%;
}
.section_1114{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.section_1115{
    width: 50%;
    height: 70%;
    background-color: #1B1B1D;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
font-size: 18px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #fff;
}
.section_2{
        width: 85%;
        height: 55vh;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
}
.section_21{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section_211{
    width: 100%;
    height: 20%;
font-size: 64px;
font-weight: 800;
line-height: 70px;
text-align: left;
}
.section_212{
    width: 100%;
    height: 30%;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.68px;
    text-align: left;
    
}
.section_213{
    width: 25%;
    height: 15%;
    background-color: #1B1B1D;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
font-size: 18px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #fff;
}
.section_3{
    width: 85%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.section_31{
    width: 40%;
    height: 10%;
font-size: 64px;
font-weight: 800;
line-height: 70px;
display: flex;
justify-content: center;
}
.section_32{
    width: 25%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}
.section_321{
font-size: 40px;
font-weight: 600;
line-height: 40px;
text-align: left;
}
.section_322{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: left;

}
.section_33{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_331{
    width: 38.5%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.section_3311{
    width: 70%;
    height: 5%;
    display: flex;
    justify-content: space-between;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
margin-left: 25px;
}
.section_3312{
    width: 70%;
    height: 35%;
    display: flex;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
margin-left: 25px;
}
.section_4{
    width: 85%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.section_41{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section_411{
    width: 100%;
    height: 60%;
font-size: 30px;
font-weight: 400;
line-height: 40px;
text-align: left;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.section_412{
    width: 100%;
    height: 30%;
    display: flex;
flex-direction: column;
justify-content: space-between;
}
.section_42{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section_4121{
width: 100%;
height: 15%;
font-size: 40px;
font-weight: 800;
line-height: 50px;
text-align: left;

}
.section_4122{
  width: 100%;
  height: 20%;
font-size: 30px;
font-weight: 400;
line-height: 40px;
text-align: left;
  
}
.section_4123{
    width: 100%;
    height: 5%;
font-size: 18px;
font-weight: 600;
line-height: 30px;
text-align: left;
display: flex;
align-items: center;
}
.section_4211{
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: center;
font-size: 32px;
font-weight: 800;
line-height: 50px;
text-align: left;
}
.section_4212{
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
}
.section_411 span{
    height: 50%;
}
.input_4121{
    width: 70%;
    height: 20%;
    border-radius: 20px;
}
.buttom_subscribe{
    width: 25%;
    height: 25%;
    background-color: #1B1B1D;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
font-size: 18px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #fff;
}
.palka{
    width: 85%;
    height: 1px;
    background-color: #1B1B1D;
    margin-top: 100px;
}
footer{
    width: 85%;
    height: 70px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.footer_1{
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_11{
    width: 50%;
font-size: 22px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
.footer_12{
    width: 50%;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    
}
.footer_2{
    width: 20%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}